@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Concert+One|Eczar|Kavoon|Fruktur');
html{

  font-family: 'Concert One', cursive;
font-family: 'Eczar', serif;
font-family: 'Kavoon', cursive;
font-family: 'Fruktur', cursive;
}
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
};
* {
    font-family: -apple-system, BlinkMacSystemFont,
           'avenir next', avenir,
           'helvetica neue', helvetica,
           ubuntu,
           roboto, noto,
           'segoe ui', arial,
           sans-serif;
    box-sizing: border-box;
};
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  box-shadow: inset 0 0 0 1px transparent;

};
a:hover {
  
};

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
};

.nav-title{
  font-family: 'Eczar', serif;
    font-size: 1.25em;
    font-weight: 900;
    text-shadow: 0px 2px 0 #C56543;
}
.scroll-spy-ul{
  height: 100%;
  align-items:center;
}
ul.is-active.a{
  background-color: #F6921E;
  box-shadow: none;
};
